<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= job.company %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location %>
  </p>

  <p>
    <strong>Employment type:</strong>
    <%= job.employment_type %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

  <p>
    <strong>Experience level:</strong>
    <%= job.experience_level %>
  </p>

  <p>
    <strong>Education level:</strong>
    <%= job.education_level %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= job.skills %>
  </p>

  <p>
    <strong>Posted date:</strong>
    <%= job.posted_date %>
  </p>

  <p>
    <strong>Application deadline:</strong>
    <%= job.application_deadline %>
  </p>

</div>
